@import "vars";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    padding-top: 196px;
    padding-bottom: 156px;
    background-color: $lightyellow;
    background-image: url(img/Star_2.png), url(img/Star_3.png), url(img/Star_4.png),url(img/Star_5.png);
    background-repeat: no-repeat;
    background-position: 
    68px 98px,
    153px 69px, 
    calc(100% - 344px) 525px,
    calc(100% - 450px) 500px;   /* Позиция четвертой звезды */


    &__head {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: $black;
        padding-bottom: 24px;
        width: 769px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        width: 720px;
        color: $black;

        &_highlight {
            font-weight: 600;
        }
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        box-sizing: border-box;
        border: 1px solid $black;
        border-radius: 60px;
        background: $black;
        padding: 16px 65px;
        text-align: center;
        color: $white;
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;


        &:hover {
            background: $white;
            color: $black;
        }
    }
}

.menu {
    height: 90px;
    width: 100%;
    background-color: $greenyellow;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    overflow: hidden;

    &-item {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 27px 51px;
        white-space: nowrap;

        &_first {
            padding-left: 19px;
        }
    }

    &-img {
        width: 36px;
        height: 36px;
    }
}

.games {
    background-color: $black;
    height: 1470px;
    background-image: url(img/Star_big.png), url(img/Star_small.png);
    background-repeat: no-repeat;
    background-position: 33px 498px, 29PX 439px;

    &__head {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        color: $white;
        width: 314px;
        height: 78px;
        padding-top: 94px;
        padding-bottom: 24px
    }

    &__text {
        @extend .top__text;
        color: $white;  
        margin-bottom: 72px;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $greenyellow;
    height: 150px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}

