@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }


    .button {
        width: 285px;
        height: 55px;
        font-size: 16px;
        align-self: center;
    }

    .top {
        background-color: $lightyellow;
        background-image: url(img/Star_mob.png), url(img/Star_mob_2.png), url(img/Star_mob_3.png),url(img/Star_mob_4.png), url(img/Vector_mob.png);
        background-repeat: no-repeat;
        background-position: 
        61px 135px, 
        120px 79px, 
        calc(100% - 124px) 600px,
        calc(100% - 70px) 630px, /* Позиция четвертой звезды */
        calc(100%) 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
        

        &__head {
            font-size: 40px;
            line-height: 49px;
            width: 262px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
        }

        &__link {
            font-size: 16px;
            line-height: 20px;
        }

        &__btn {
            margin-top: 36px;
        }
    }

    .menu {
        height: 51px;
        width: auto;
        display: none;

        &-item {
            font-size: 16px;
        }

        &-img {
            width: 18px;
            height: 18px;
        }
    }

    .games {
        display: none;
    }

    .mini-games {
        width: auto;

        &__head {
            font-size: 40px;
        }
    }

    .footer {
        width: 100%;
    }
}